<!DOCTYPE html>
<html>

<head>
    {% load static %}
    <link href="{% static 'bootstrap.min.css'%}" rel="stylesheet">
    <link href="{% static 'light-bootstrap-dashboard-react.min.css'%}" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" type="text/javascript"></script>
</head>

<body>
    <div id="sidebar" class="sidebar">
        <div class="sidebar-background"></div>
        <div class="logo">
            </a><a href="#" class="simple-text logo-normal">CJango</a>
        </div>
        <div class="sidebar-wrapper">
            <ul class="nav">
                <li class="{{dashboard_active}}">
                    <a class="nav-link {{dashboard_active}}" href="#">
                    <p><i class="fa fa-line-chart"></i>Dashboard</p>
                    </a>
                </li>
                <li class="{{devtool_active}}">
                    <a class="nav-link {{devtool_active}}" href="#">
                    <p><i class="fa fa-terminal"></i>DevTool</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="main-panel" id="main-panel">
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Users Behavior</h4>
                                <p class="category">24 Hours performance</p>
                            </div>
                            <div class="content">
                                <div class="ct-chart">
                                    <canvas id="myChart"></canvas>
                                </div>
                                <div class="footer">
                                    <div class="stats"><i class="fa fa-history"></i> Updated 3 minutes ago</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Users Behavior</h4>
                                <p class="category">24 Hours performance</p>
                            </div>
                            <div class="content">
                                <div class="ct-chart">
                                    <canvas id="myChart"></canvas>
                                </div>
                                <div class="footer">
                                    <div class="stats"><i class="fa fa-history"></i> Updated 3 minutes ago</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <script>
                    var ctx = document.getElementById('myChart').getContext('2d');
                    var myChart = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                            datasets: [{
                                label: '# of Votes',
                                data: [12, 19, 3, 5, 2, 3],
                                backgroundColor: [
                                    'rgba(255, 99, 132, 1)',
                                    'rgba(54, 162, 235, 1)',
                                    'rgba(255, 206, 86, 1)',
                                    'rgba(75, 192, 192, 1)',
                                    'rgba(153, 102, 255, 1)',
                                    'rgba(255, 159, 64, 1)'
                                ],
                                borderColor: [
                                    'rgba(255, 99, 132, 1)',
                                    'rgba(54, 162, 235, 1)',
                                    'rgba(255, 206, 86, 1)',
                                    'rgba(75, 192, 192, 1)',
                                    'rgba(153, 102, 255, 1)',
                                    'rgba(255, 159, 64, 1)'
                                ]
                            }]
                        },
                        options: {
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true
                                    }
                                }]
                            },
                            maintainAspectRatio: false
                        }
                    });
                </script>
            </div>
        </div>
    </div>
</body>

</html>